= form_for(@route) do |f|
  - if @route.errors.any?
    .alert-message.block-message.error
      %h2
        = pluralize(@route.errors.count, "error")
        prohibited this route from being saved:
      %p
        %ul
          - @route.errors.full_messages.each do |msg|
            %li= msg

  .clearfix
    = f.label :name
    .input= f.text_field :name
  .actions
    = f.submit :class => "btn primary"
