<h1>Listing routes</h1>

<table class="zebra-striped">
  <tr>
    <th>Name</th>
    <th style="width: 15%"></th>
  </tr>

<% @routes.each do |route| %>
  <tr>
    <td><%= route.name %></td>
    <td><%= link_to 'Show', route %>
    <%= link_to 'Edit', edit_route_path(route) %>
    <%= link_to 'Destroy', route, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Route', new_route_path %>
