- address = params[:address].gsub("+"," ")

%ul.breadcrumb
  %li
    = link_to "Homepage", root_path
    %span.divider /
  %li.active
    = link_to "Routes near #{address}", near_routes_path(address)
%h1
  Routes near
  %strong= address
  %small 50 kilometers radius
= render :partial => "application/overview", :locals => {routes: @routes}
