%ul.breadcrumb
  %li
    = link_to "Homepage", root_path
    %span.divider /
  %li
    = link_to "Routes", routes_path
    %span.divider /
  %li.active= link_to @route.name, @route

%h1
  = @route.name
  %small
    by
    = @route.user.email

.row
  .span13
    %ul.tabs{"data-tabs" => "true"}
      %li.active
        %a{href: "#tab-map"} Map
      %li#elevation-item{style: "display: none"}
        %a{href: "#tab-elevation"} Elevation chart
  .span3
    %h2 Details

.row
  .span13.tab-content
    #tab-map.active.tab-pane
      - if can? :edit, @route
        %p
          %span.label.notice Instructions
          Right click on the map to place a waypoint, right click on the waypoint to remove it. Click and drag to move.
      #map{style: "width: 760px; height: 500px;"}
    #tab-elevation.tab-pane
      #chart_div
  .span3
    %dl
      %dt Distance:
      %dd#distance
      %dt Waypoints count:
      %dd#locations

= link_to 'Back', routes_path

:javascript
  var EDITABLE = #{can? :edit, @route};
  var UPDATE_PATH = "#{update_waypoints_route_path(@route, :json)}";
  var map, elevationService, chart;

  var path = null;
  var poland = new google.maps.LatLng(54.381579,18.596039);
  var waypoints = #{@route.waypoints.collect{|w| w.location}.to_json.html_safe};


  var markers = [];

  $(function(){
    var mapOptions = {
      zoom: 10,
      mapTypeId: google.maps.MapTypeId.TERRAIN,
      center: poland,
      streetViewControl: false,
      draggableCursor: 'pointer'
    };
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
    chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    elevationService = new google.maps.ElevationService();

    // zaznacz na mapie punkty wczytane z bazy
    $.each(waypoints,function(index,waypoint){
      addMarker(map,markers,new google.maps.LatLng(waypoint[1],waypoint[0]));
    });

    if (waypoints.length > 0){
      map.fitBounds(constructBounds(markers));
      $('#elevation-item').show();
    }

    drawPath(markers);
    getElevation(markers);

    google.maps.event.addListener(map, 'rightclick', function(e) {
       if (!EDITABLE)
        return false;
       addMarker(map,markers,e.latLng);
       saveRoute(UPDATE_PATH,markers);
       $('#elevation-item').show();
    });
  });
