<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><%= link_to "Trekking", root_url %></h3>
          <ul class="nav">
            <li><%= link_to "Routes", routes_path %></li>
          </ul>
          <ul class="nav secondary-nav">
            <% if user_signed_in? %>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle"><%= current_user.email %></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
            <% else %>
              <li><%= link_to "Register", new_user_registration_path %></li>
              <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div>