<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Trekking</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag    "application" %>
  <script type="text/javascript" src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"]}]}'></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "application/topbar" %>
<div id="container" class="container">
  <% if notice %>
    <div class="alert-message success"><p><%= notice %></p></div>
  <% end %>
  <% if alert %>
    <div class="alert-message error"><p><%= alert %></p></div>
  <% end %>
	<div id="main" role="main">
    <%= yield %>
	</div>
	<footer>

	</footer>
</div> <!--! end of #container -->

</body>
</html>
